* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 100%;
}

.App {
  margin-bottom: 5%;
}



span {
  font-weight: bold;
  color: blue;

}

p {
  font-weight: bold;

}

.header-container {
  background-color: rgb(92, 171, 202);
}

header {
  margin-left: 15%;
  height: 200px;
  width: 70%;
  background-image: url("./images/beach-banner2.png");
  background-color: skyblue;
  color: darkblue;
}

header h1 {
  /* display: block; */
  font-size: 3rem;
  padding-top: 5%;
  padding-left: 10%;
  font-style: italic;

}

header h3 {
  color: black;
  padding-left: 10%;
  font-style: italic;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

.rentals {
  width: 60%;
}

.rentals h1 {
  font-size: 2rem;
  color: black;
  margin-top: 3%;
  margin-left: 5%;

}


/* styling for rentals */
.rental-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  /* flex-wrap: wrap; */

}

.rental-options {
  width: 30%;
  margin: 1% 1%;
  border: 2px solid darkblue;
  /* padding-bottom: 3%; */
  border-radius: 0.5rem;

}

.rental-options h2 {
  font-size: 1.25rem;
  padding-bottom: 3%;
  padding-top: 2%;
  text-align: center;
  border-bottom: 2px solid darkblue;
  background-color: skyblue;
}


/* .rental-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.rental-image {
  width: 100%;
}

.rental-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}

/* styling for cart */

.cart {
  width: 40%;
  margin: 2% 2%;


}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 3%;

}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid darkblue;
  border-radius: 0.5rem;
  background-color: rgb(197, 226, 244);
  padding-left: 3%;

}

.cart-item {
  border-left: 30px solid darkblue;

}

.cart-info {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
}



.cart-image {
  height: 50px;
  width: auto;

}

/* styling for buttons */
.button-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.cart-button-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.center-button,
.cart-center-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.add-rental {
  /* background-color: darkblue;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 25%;
  margin-bottom: 10%;
  width: 100%; */
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem darkblue solid;
  background-color: darkblue;
  color: white;
  width: 100%;
  cursor: pointer;
}

.delete-cart {
  margin-top: 50%;
  /* margin-right: 15%; */
  width: 100%;
  padding: 5% 5%;


}
