.container {
  border: 1px solid black;
  width: 500px;
  padding: 10px;
  margin: 1%;
}

.rightSide{
  text-align: right;
  float: right;
}

.leftSide {
  float: left;
}

.bnbcard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}