@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: rgb(40, 40, 40);
  --dark: #05396b;
  --mid-dark: #379584;
  --mid: #5cdb95;
  --mid-light: #8de4ae;
  --light: #edf5e1;
  --white: #fff;
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
  margin: 10px 0;
}

p {
  font-size: 16px;
  color: var(--black);
  margin: 5px 0;
}

body {
  width: 100%;
}

.main {
  margin: 0 auto;
  padding: 20px 40px;
}

a {
  color: rgb(80, 80, 80);
}

a:hover {
  color: rgb(30, 30, 30);
}

img {
  border-radius: 4px;
}

/** Google map fix for global border-radius introducing bug **/
.gm-style img {
  border-radius: 0;
}

.property__image {
  width: 180px;
}

button {
  padding: 12px 0;
  background-color: var(--dark);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--mid);
  color: var(--dark);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.6);
}

.navbar__link {
  text-decoration: none;
  font-size: 16px;
  padding: 15px 0;
  flex: 0 1 150px;
  background-image: linear-gradient(var(--mid), var(--mid));
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.3s ease-out;
  text-align: center;
  color: white;
}

.navbar__link:hover {
  /* background-color: var(--grey); */
  background-size: 100% 100%;
  color: var(--dark);
}
