.header {
    width: 850px;
    height: 150px;
}
.header-div {
    width: 850px;
    border: solid 1px;
}
.listingSingleItemForm-div {
    width: 850px;
    float: left;
    border: solid 1px;
    padding: 4px;
    display: grid;
    grid-template-columns: 24% 60% 16%;
}
.rental-img {
    width: 170px;
    height: 160px;
    float: left;
    border: solid 1px;
    padding: 10px;
}
.listingSingleItemForm-rentalInfo{
    width: 500px;
    height: 175px;
    float:left;
    border: solid 2px;
}
.listingSingleItemForm-addBtn-div{
    width: auto;
    float: right;
    padding: 60px 30px 10px 10px;
    border: solid 1px;
}
.listingSingleItemForm-addBtn{
    width: 80px;
    height: 50px;
}
.cartSummary-hideShowBtn{
    width: 120px;
    height: 50px;
}
.cartSummary-viewCartBtn{
    width: 50px;
    height: 50px;
}
.itemFont{
    font-weight: bold;
}
.cartSummary-div{
    display: grid;
    grid-template-columns: 50% 50%;
    border: solid 1px;
    width: 850px;
    padding: 5px;
}
.cartSummary-CartInfoPanel-div{
    display: grid;
    grid-template-columns: 30% 70%;
    border: solid 1px;
    position: relative;
    text-align: justify;
}
.cartSummary-CartInfoPanel-CartInfo-div{
    display: grid;
    grid-template-columns: 50% 50%;
    border: solid 1px;
}
