.property-card__container--medium {
  flex: 1 1 280px;
}

.property-card__container--large {
  flex: 1 1 560px;
}

.property-card__image {
  border: 1px solid rgb(150, 150, 150);
}

.property-card__image--medium {
  width: 240px;
  height: 150px;
  object-fit: cover;
}

.property-card__image--medium:hover {
  box-shadow: 0 0 10px 2px rgb(191, 191, 191);
}

.property-card__image--large {
  width: 480px;
}

.property-card__link {
  text-decoration: none;
}
