.property-card__container {
  display: flex;
  margin-bottom: 40px;
}

.property-card__details {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: space-between;
}

.property-card__container--medium {
  flex-flow: column-reverse wrap;
  flex: 0 1 20%;
  margin-bottom: 40px;
}

.property-card__container--large {
  flex-flow: row wrap;
  border: 1px solid var(--dark);
  padding-left: 20px;
  background-color: white;
}

.property-card__image--medium {
  height: 140px;
  width: 245px;
  object-fit: cover;
  transition: transform 0.2s;
}

.property-card__image--medium:hover {
  box-shadow: 0 0 6px 2px rgb(209, 209, 209);
  transform: scale(1.02);
}

.property-card__image--large {
  border-radius: 0;
}

.property-card__link {
  text-decoration: none;
}

.property-card__button {
  margin: 20px 0;
}

.property-card__button--medium {
  width: 100%;
}

.property-card__button--large {
  width: 170px;
}
