.property-card__container {
  display: flex;
}

.property-card__container--medium {
  flex-flow: column-reverse wrap;
  flex: 0;
  justify-content: space-between;
}

.property-card__container--large {
  flex-flow: row wrap;
}

.property-card__image--medium {
  max-width: 240px;
  transition: transform 0.2s;
}

.property-card__image--medium:hover {
  box-shadow: 0 0 6px 2px rgb(209, 209, 209);
  transform: scale(1.02);
}

.property-card__image--large {
  flex: 0 0 480px;
}

.property-card__link {
  text-decoration: none;
}

.property-card__button {
  margin: 20px 0;
}
