.cart-card {
  display: flex;
  margin-bottom: 20px;
}

.cart-card__image {
  width: 200px;
  margin-right: 20px;
}

.cart-card__details {
  display: flex;
  flex-direction: column;
}

.cart-card__button {
  width: 160px;
}
