.collection-card__container--medium {
  flex: 1 1 280px;
}

.collection-card__container--large {
  flex: 1 1 560px;
}

.collection-card__image {
  border: 1px solid rgb(150, 150, 150);
}

.collection-card__image--medium {
  width: 240px;
  height: 150px;
  object-fit: cover;
}

.collection-card__image--large {
  width: 480px;
}

.collection-card__link {
  text-decoration: none;
}
